
p{
    text-align: center;
}
.bba
{
    width: 250px;
    height: 250px;
    margin-left: 210px;
}
.bbm
{
    width: 250px;
    height: 250px;
    margin-left: 170px;
}
.bca
{
    margin-left: 170px;
}
.mba
{
    margin-left: 210px;
}
.bbs
{
margin-left: 20px;
}